@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  color: #505962;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.btn-purple {
  margin: 1rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-purple:hover,
.btn-purple:focus {
  background: transparent;
  color: var(--primaryColor);
}

.feature img {
  padding: 1.5rem;
}

footer {
  background-color: rgb(24, 43, 43);
  background-size: cover;
  color: white;
}
footer .row {
  padding: 1.5rem 0 4rem;
  line-height: 1.5rem;
}
footer img {
  margin: 1.5rem 0;
}
footer h3 {
  margin: 1.5rem 0;
}

/*-- Extra Bootstrap Column Padding --*/

[class*="col-"] {
  padding: 1rem;
}
